{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
  <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block page_title %}
  All Challenges
{% endblock %}

{% block content %}
  {% include "challenges/includes/header.html" %}

  <ul>
    {% for week in weeks %}
      <li><a href="{% url "week-challenge" week %}">{{ week|title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}

















{% comment %} <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viwport" content="wwidth=device, initial-scale=1.0" />
        <title>All Challenges</title>
    </head>
    <body>
        <ul>
            {% for week in weeks %}
                <li><a href="{% url "week-challenge" week %}">{{ week|title }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html> {% endcomment %}